{% extends "base.html" %}

{% block content %}

    <h1>{{ order.place_name|escape }} Order!</h1>
    By: <b>{{ order.placed_by|escape }}</b><br />
    At: <b>{{ order.time|escape }}</b><br />
    
    {% if order.added_by == current_user and order.is_open() %}
    <br />
    <form method="POST" action="/cancel" class="form-inline">
    <input type="hidden" name="order_id" value="{{ order.key.urlsafe() }}" />
    <input class="btn" type="submit" value="Close Order" onclick="return confirm('Are you sure you really want to close the order?')" />
    </form>
    <br />
    {% endif %}
    
    <h2>What Everybody's Ordering</h2>
    <table class="table">
    <tr>
        <th>Name</th>
        <th>Order</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    {% for item in all_items %}
    
    <tr>
        <td>{{ item.your_name }}</td>
        <td>{{ item }}</td>
        <td>
        {% if item.added_by == current_user and order.is_open() %}
        <form method="POST" action="/cancel" class="form-inline">
        <input type="hidden" name="item_id" value="{{ item.key.urlsafe() }}" />
        <input type="submit" value="Cancel Order" class="btn" />
        </form>
        {% endif %}
        </td>
        <td>
        {% if order.added_by == current_user %}
        added by: {{ item.added_by|escape }}
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    
    <h2>What Do You Want?</h2>
{% if order.is_open() %}
    {% if current_user %}
    <form method="POST" action="/order/{{ order.key.urlsafe() }}" class="well span5"><table>
    {{ item_form|safe }}
    </table><input class="btn btn-primary" type="submit"></form>

    {% else %}

    <a href="{{ login_url }}">Please sign in to place your order</a>

    {% endif %}
{% else %}
    The order is closed.
{% endif %}

{% endblock %}

{% block footer %}{% endblock %}