{% extends "base.html" %}

{% block content %}
    <h1>Open Orders</h1>
    {% for order in open_orders %}
    <li><a href="/order/{{ order.key()|escape }}">{{ order|escape }}</a></li>
    {% endfor %}

    <h1>Recently Closed Orders</h1>
    {% for order in closed_orders %}
    <li><a href="/order/{{ order.key()|escape }}">{{ order|escape }}</a></li>
    {% endfor %}

    <h1>Create Your Order</h1>
    {% if not user %}

    <a href="{{ login_url }}">Please sign in to place your order</a>

    {% else %}

    <form method="POST" action="/"><table>
    {{ order_form }}
    </table><input type="submit"></form>

    {% endif %}

{% endblock %}