{% extends "base.html" %}

{% block header %}{% endblock %}

{% block content %}
    <h1>Open Orders</h1>
    <table class="table">
        {% for order in open_orders %}
        <tr>
            <td><a href="/order/{{ order.key.urlsafe() }}">{{ order|escape }}</a></td>
        </tr>
        {% endfor %}
    </table>

    <h1>Recently Closed Orders</h1>
    <table class="table">
        {% for order in closed_orders %}
        <tr>
            <td><a href="/order/{{ order.key.urlsafe() }}">{{ order|escape }}</a></td>
        </tr>
        {% endfor %}
    </table>

    <h1>Create Your Order</h1>
    {% if not current_user %}

    <a href="{{ login_url }}">Please sign in to place your order</a>

    {% else %}

    <form method="POST" action="/" class="well span5"><table>
    {{ order_form|safe }}
    </table><input type="submit" class="btn btn-primary"></form>

    {% endif %}

{% endblock %}

{% block footer %}{% endblock %}